<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BSES Homepage</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #FFB9B4;
            color: #FFB9B4;
            color: #B62741;
        }
        .container {
            text-align: center;
            margin-top: 100px;
        }
        .btn-login {
            background-color: #75192A;
            border: none;
            color: white;
            padding: 15px 30px;
            font-size: 18px;
            border-radius: 10px;
            margin-top: 30px;
        }
        .footer {
            background-color: #3986DD;
            position: fixed;
            bottom: 0;
            width: 100%;
            
            color: white;
            text-align: center;
            padding: 10px 0;
        }
    </style>
</head>
<body>
    <nav class="navbar">
        <div class="container-fluid" style="background-color: white; color: black;">
            <img class="image" src="./bseslogo.png" height="80" width="130"/>
          
            <span class="navbar-text" style="font-size: small; font-weight: 550;">
                Powered by : BSES
            </span>
          </div>
        </div>
    </nav>
    <div class="container">
        
        <h1>Welcome to BSES</h1>
        <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
    </div>
    <div class="footer">
        © Process Improvement Management System, All Rights Reserved by: BSES, Delhi.
    </div>
</body>
</html>
