body {
    font-family: Arial, sans-serif;
}

.navbar {
    margin-bottom: 20px;
}

.sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 56px;
    height: calc(100vh - 56px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
}
